
BOT_TOKEN=8798443841:AAGTGJY7_GObIOfW0u28ddQa-m4VbBb6T1Y


OWNER_ID=1107363757


LOG_CHAT_ID=-1003993239106


DATABASE_URL=postgresql://postgres:bMCcNTqVeCRZvLKKeWRGXmJMboMcGNOJ@postgres.railway.internal:5432/railway
